  h1 {
  color: green;
  padding: 3px 0px 0px 3px;
  width: 318px;
  border: 3.1px solid black;
  background-color: #c7ced3;
  text-transform: capitalize;
  /*font-size: 40px;*/
  font-weight: 600; /*Thickness of letters*/
}
a:hover {
  color: #000; /*Pseudo class to change state, being uniquely*/
}
/*a {
  color: #000;
}*/
h2 {
  text-align: center;
  background-color: rgba(45, 45, 45, 0.1);
}
p {
  /*line-height: 25px; space between each line of text*/
color: #0647e9;
background-color: #e59a09;
/*text-shadow: 0px 10px 5px 1px;*/
border: 0.7px solid black;
padding: 1px 20px 20px 20px;
}
img { /*images can be converter as block elements, with display: block; margin auto*/
 width: 150px; 
 height: 143px;
}
#kitty {
filter: brightness(100%); /*brightness(30.90)*/
}
body {
width: 320px;
margin: 0 auto;
background-color: #004ac1;
padding: 3px 20px 15px 10px;
 border: 2.8px solid #000; /*We can use the 6 digits or only the Emmet abrebiation (4mil colors)*/
  }
 #my-id {
    color: red !important;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
  #summ {
    color: rgb(207, 104, 121);
    background-color: rgb(246, 246, 209);
  }
  #summ1 {
  background-color: rgb(241, 241, 197);
  }
  details {
    margin: 0 auto; /*Space around elements, the lesser, the bigger till reach negative values.*/
    padding: 13px 23px 0px 0px; /*padding-top, padding-right, padding-bottom, and padding-left
    relative and absolute sizes example: padding: 1.5em;*/
  }
  .redd-text{ /*The redd-text class is only a type of id, can have any name, as long as they match*/
    color: red;
    position: fixed; right: 250px; bottom:20px;
    opacity: 0.2;
  }
  :root {
    --green-color: rgb(0, 212, 99);
  }
  .thin-border {
    border-color: var(--green-color, pink);
    position: relative;
    border-width: 5px;
    padding: 8px 12px 8px 12px;
    border-style: solid;
    border-radius: 10px; /*Either percentage or pixels*/
  }
  /*.right-feet {
    top: 85%;
    left: 60%;
    background: orange;
    width: 15%;
    height: 30%;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-80deg);
    z-index: -2222;
  }*/
  .ttt {
    background-color: yellowgreen;
  }
  #darky {
    
    position: relative; /*top(downwards, -up) left(right) right(left, -right)*/
    top: -1365px;
    bottom: 0px;
    left: 400px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 2;
    } /*offset-x/horizontally offset-y/vertically blur-radius spread-radius*/
    #waiky {
      top: -1355px;
      position: relative;
      bottom: 0px;
      left: 564px;
      box-shadow: 5px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    #waikyt {
      all: unset;
      top: -1355px;
      position: relative;
      bottom: 0px;
      left: 442px;
      box-shadow: 5px 10px 20px rgba(11, 131, 17, 0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    iframe {
      margin: 16px 16px 16px 16px;
    }
    #tutti {
      margin: 16px 1px 5px 19px;
    }
    #Haruimg {
      margin: 16px 1px 5px 19px;
    }
    #searchbar {
      position: absolute;
      top: 4px;
      right: 10px;
    }
     
      .button-bg {
        background-color: #e66700;
        border-radius: 4px;

      }
  #boxy {
      background-color: rgb(10, 10, 93);
      background: linear-gradient(70deg, yellowgreen, blue);
      height: 100px;
      width: 100px;
      margin: auto;
      z-index: 2;
      }
      #boxy:hover {
        transform: scale(1.1);
        /*transform: skewX(24deg), rotate(0deg);*/
        transform: skewY(-10deg);
        content: "";
        }
      #boxy2 {
        border-radius: 20px;
        width: 70%;
        height: 400px;
        margin: 50 auto;
        background: repeating-linear-gradient(45deg, 
        yellow 0px, 
        red 40px,
         black 40px, 
         red 80px,);
         z-index: 3;
      }
      #texture {
        background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
      }
      /*color parity, makeking it more appealling. 
      color wheel , rbg primary and complementary*/
      /*hsl to adjust hue, saturation, and lightness. Prefered by designers*/
     .animm:hover {
       animation-name: animm;
       animation-duration: 5s;
       animation-iteration-count: infinite;
     }
    @keyframes animm {
      0% {
        background-color: yellow;
        top: 0px;
      }
      50% {
        background-color: red;
        top: 25px;
      }
      65% {
        background-color: black;
        left: -25px;
      }
      75% {
          background-color: yellow;
          top: -25px;
        }
        80% {
          background-color: red;
          top: -25px;
        }
        90% {
          background-color: black;
          left: 6px;
          opacity: 0.1;
          height: 10px;
          width: 8px;
          }
        100% {
          background-color: yellow;
          top: 6px;
          }
     }
     button:hover {
      animation-name: background-color;
      animation-duration: 500ms; /*Either this or @keyframe percent (at what point 
      it appears) and  transform*/
      animation-fill-mode: forwards;
    }
    @keyframes background-color {
     100% {
        background-color: #4791d0;
      }
    }
    /*Can rename more than one the same and add them to @keyframes*/
    /*animation-timing-function: linear, ease, ease-out, ease-in and 
    cubic-beizer(x1, y1, x2, y2) for a more precise value;*/
  footer {
    background-color: black;
    opacity: 50%;
    color: aliceblue;
  }